build
/node_modules
/typings
/__out
package-lock.json
ipch
__build_debug
__build_mingw32_debug
__build_win32_debug
__build_release
__build_mingw32_release
__build_win32_release
/test/test.cpp
/test/test0.cpp
/test/test1.cpp
/test/test.h
/test/test0.h
/test/test1.h
/test/test.exe
/test/testapp1.exe
.vs
/Experiment/src
/Experiment/__build
/Experiment/out
/Experiment/SimpleVulkanApp/src/cpp
/Experiment/SimpleVulkanApp/__build
*.ilk
*.pdb
*.ipch
*.bin
out
out1
/packages/tsc-cxx/lib
/packages/tsc-cxx/cpplib
/packages/tsc-cxx/node_modules
__build
